/* Estilos CSS para el formulario */
body {
    background-image:"imagenes/fondo_realista.png";
            background-size: cover; /* Ajustar la imagen al tamao de la ventana del navegador */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #10adb3;
    color: #fff;
    padding: 20px;
}

footer{
    position: static;
    bottom: 0;
    width: 100%;
}

footer p {
    text-align: center;
}

h1,
h2 {
    margin-top: 20px;
    text-align: center;
}

main {
    width: 100%;
    margin: auto;
}

li{
    list-style: none;
    display: inline-block;
    
}

.container-form{
    max-width: 50%;
    margin: auto;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input,
select {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    font-family: sans-serif;
    box-sizing: border-box;
}

input[type="submit"],
input[type="button"] {
    background-color: #059ca1;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 12px 20px;
    font-size: 16px;
    font-family: sans-serif;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}

span {
    color: red;
}

/* Estilos CSS para las tablas */
table {
    border-collapse: collapse;
    width: 100%;
    font-size: 16px;
    font-family: sans-serif;
    margin-bottom: 30px;
}

th,
td {
    padding: 10px;
    text-align: center;
    border: 5px solid #4CAF50;
    background-color: #4CAF50;


}

td {
    color: #fff;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.tabla-container {
    max-width: 80%;
}

.listado-container {
    max-width: 70%;
}
.boton-container {
    margin-block: 30px;
}
a{
    text-decoration: none;
}
.listado-servicios a {
    color: #f8f8f8;
    font-size: 20px;
    font-weight: bold;
}

.listado-servicios li::marker {
    content: 🐾;
}

/*Se crea botones al listado*/
.oval-button {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #007BFF;
    border-radius: 50px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    text-align: center;
    
   
font-weight: bold;
    margin: 5px;
}

.oval-button:hover {
    background-color: #0056b3;
}

/* Banner Imagenes */

.slider-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slider {
    display: flex;
    
   
width: 100%; /* 100% * número de diapositivas */
    transition: transform 0.5s;
}

.slide {
    flex: 1;
    
   
height: 300px;
    background-size: cover;
}

.prev-button,
.next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.prev-button {
    left: 0;
}

.next-button {
    right: 0;
}